<div id="<%= c._id %>">
    <h1>Hello World!</h1>
    <h3>This is a test component.</h3>
    <p>Please look inside my code to see what you can do with OSPF!</p>

    <div>Names: </div>
    <ul>
        <% for(let name of c.names){ %>
        <li><%= name %></li>
        <% } %>
    </ul>
    <input id="<%= c.createId('nameInput') %>" placeholder="Add new name...">
    <input onclick="<%= c.self() %>.addNameClickHandler()" type="button" value="Add #1">
    <input id="<%= c.createId('addInput') %>" type="button" value="Add #2">

    <input type="button" id="<%= c.createId('createDollyInput') %>" value="Create dolly component">

    <%
        if(c.getChild("dollyComponent")){
            __append(c.getChild("dollyComponent").render());
        }
    %>
</div>