*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select:none;
}

html, body, form, #Component_0
{
    width:100%;
    height:100%;
    font-family:arial;
}

.TabbedLayout
{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.TabbedLayout_content
{
    flex-grow:1;
    animation: fadeIn 0.1s forwards;
    width:100%;
    height:0;
    overflow:auto;
}

@keyframes fadeIn
{
    0%{
        opacity:0.8;
        transform:translateY(-200px);
    }

    100%{
        opacity:1;
    }
}

.TabbedLayout_tabs
{
    height:50px;
    border-top:1px solid grey;
}

.TabsBar
{
    width:100%;
    display:flex;
    overflow:auto;
    height:100%;
    align-items: center;
    justify-content: flex-start;
}

.TabsBar_button
{
    height:100%;
    display: flex;
    align-items: center;
    padding:10px;
    opacity:0.4;
    flex-grow: 1;
    justify-content: center;
}

.TabBar_button-2
{
    opacity:1;
    border-bottom:2px solid black;
}

.TabbedLayoutExample_content
{
    width:100%;
    min-height:100%;
    padding:20px;
    background-color:rgb(236, 248, 255);
}

.TabbedLayoutExample_content_title
{
    font-size:26px;
    margin-bottom:10px;
}

.TabbedLayoutExample_content_description
{}