<div id="<%- c._id %>" class="ItemList">
    <table>

        <tr class="ItemList_header">
            <td>
                <%- c.renderChild("check_all") %>
            </td>
            <td>ID</td>
            <td>
                EMAIL
            </td>
            <td>
                NOME
            </td>
            <td>

            </td>
        </tr>

        <% for(let item of c.items){ %>
            <tr>
                <td><input id="checkbox_item_<%- item.id %>" type="checkbox"></td>
                <td><%= item.id %></td>
                <td>
                    <%= item.email %>
                </td>
                <td>
                    <%= item.full_name %>
                </td>
                <td>
                    <div class="button button_small" <%- c.renderEvent("onclick", "editClick", item.id) %>>Edit</div>
                </td>
            </tr>
            <% } %>
    </table>
</div>